{% if not app.session.has('atm_fingerprint_sent') %}

    {% if use_assetic %}
        {% javascripts
            '@ATMFingerprintBundle/Resources/public/js/fingerprint.js*' filter='?uglifyjs2' output='js/atm_finerprint.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        <script src="{{ asset('bundles/atmfingerprint/js/fingerprint.js') }}"></script>
    {% endif %}

    <script>

        if(typeof Routing !== 'object'){
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "/bundles/fosjsrouting/js/router.js";
            document.body.appendChild(script);

            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "/js/routing?callback=fos.Router.setData";
            document.body.appendChild(script);
        }

        var data = new Object();
        data.browser = fingerprint_browser();
        data.language = fingerprint_language();
        data.os = fingerprint_os();
        data.timezone = fingerprint_timezone();
        data.user_agent = fingerprint_useragent();

        $.ajax({
            url: Routing.generate('atm_fingerprint_send'),
            data: 'f='+JSON.stringify(data),
            type: 'post',
            success: function(data){
                {% if not redirect %}
                if(data == 'ko'){
                    location.reload(true);
                }
                {% endif %}
            }
        });
    </script>
{% endif %}
